.app-layout {
  width: 100%;
}

.app-layout .layout-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px 0 140px;
  background: #ffffff;
  box-shadow: 0 4px 10px #0000001a;
  z-index: 50;
}

.app-layout .layout-header .header-nav {
  display: flex;
  align-items: center;
  gap: 114px;
}

.app-layout .layout-header .header-nav .nav-item {
  padding: 12px;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--paperlogy), sans-serif;
  cursor: pointer;
}

.app-layout .layout-header .header-nav .nav-item.active,
.app-layout .layout-header .header-nav .nav-item:hover {
  color: var(--primary) !important;
}

.app-layout .layout-main {
  padding-top: 168px;
}

.app-layout .layout-footer {
  height: 296px;
}

.app-layout .layout-footer .footer-container {
  border-top: 1px solid #707070;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-layout .layout-footer .footer-meta {
}

.app-layout .layout-footer .footer-meta .meta-row {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
}

.app-layout .layout-footer .footer-meta .meta-row .meta-label {
  font-weight: 800;
}

.app-layout .layout-footer .footer-brand {
  display: flex;
  align-items: center;
  gap: 96px;
}
