.sh-filter {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.sh-filter .filter-button {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sh-filter .filter-button .button-tab {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sh-filter .filter-button .button-condition .ant-btn {
  background: #f5f5f5;
  border: none !important;
  color: inherit !important;
}

.sh-filter .filter-button .button-condition .condition-button.enable {
}

.sh-filter .filter-button .button-condition .ant-btn:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.sh-filter .filter-button .button-condition .condition-count {
  padding: 2px;
  font-size: 12px;
  width: 16px;
  height: 16px;
  line-height: 1;
  color: var(--primary);
  background: var(--white);
}

.sh-filter .filter-search {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sh-filter .filter-search .search-type {
  width: 120px;
}

.sh-filter .filter-search .search-query {
  width: 240px;
}

.sh-filter .filter-search .search-query .query-suffix {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
  margin-right: -2px;
}

.sh-filter-dropdown {
  min-width: 336px;
  padding: 20px;
  background-color: var(--white);
  border: 1px solid #e0e6eb;
  border-radius: var(--radius);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.sh-filter-dropdown .dropdown-title {
  font-weight: 500;
  font-size: 15px;
}

.sh-filter-dropdown .dropdown-body {
  margin-top: 6px;
}

.sh-filter-dropdown .dropdown-footer {
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.sh-filter-dropdown .dropdown-footer .footer-action {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sh-filter-dropdown .dropdown-footer .footer-action .footer-reset {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 500;
  line-height: 1;
  font-size: 13px;
  padding-bottom: 4px;
}

.sh-filter-dropdown .dropdown-footer .footer-action .action-button {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid var(--gray-5);
}

.sh-filter-dropdown .dropdown-footer .footer-action .action-button.confirm {
  background: var(--primary);
  color: var(--white);

  &:hover {
    opacity: 0.8;
  }
}

.sh-filter-dropdown .dropdown-item {
}

.sh-filter-dropdown .dropdown-item + .dropdown-item {
  margin-top: 8px;
}

.sh-filter-dropdown .dropdown-item .item-label {
  color: var(--gray-8);
  font-size: 13px;
  margin-bottom: 2px;
}

.sh-filter-dropdown .dropdown-item .item-control {
}

.sh-filter-dropdown .dropdown-item .item-message {
  color: var(--gray-7);
  opacity: 0.8;
  margin-top: 3px;
  font-size: 12px;
}
