.pg-intro {
  width: 100%;
  position: relative;
  padding-top: 135px;
}

.pg-intro .intro-cover {
}

.pg-intro .intro-cover img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pg-intro .intro-cover img.desktop {
  display: block;
}

.pg-intro .intro-cover img.mobile {
  display: none;
}

.pg-intro .intro-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pg-intro .intro-logo .logo-phrase {
  text-align: left;
  font-family: var(--dongle), sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

.pg-intro .intro-logo .logo-image {
  width: 605px;
  position: relative;
}

.pg-intro .intro-logo .logo-image .logo-path {
}

.pg-intro .intro-logo .logo-image .logo-path .path-item {
  position: absolute;
  top: 0;
  width: 8px;
  height: 30px;
  background: #ef820c;
  border-radius: 25px;
}

.pg-intro .intro-logo .logo-image .logo-path .path-item:nth-of-type(1) {
  transform: rotate(-45deg) scale(0);
  top: 10px;
  right: 72px;
  transform-origin: bottom center;
}

.pg-intro .intro-logo .logo-image .logo-path .path-item:nth-of-type(2) {
  right: 48px;
  transform: scale(0);
  transform-origin: bottom center;
}

.pg-intro .intro-logo .logo-image .logo-path .path-item:nth-of-type(3) {
  right: 22px;
  top: 8px;
  transform: rotate(45deg) scale(0);
  transform-origin: bottom center;
}

@keyframes path-item-1 {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
}

.pg-intro .intro-logo .logo-image .logo-path.animate .path-item:nth-of-type(1) {
  animation: path-item-1 0.4s ease forwards;
  animation-delay: 0.2s;
}

@keyframes path-item-2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.pg-intro .intro-logo .logo-image .logo-path.animate .path-item:nth-of-type(2) {
  animation: path-item-2 0.4s ease forwards;
  animation-delay: 0.3s;
}

@keyframes path-item-3 {
  0% {
    transform: rotate(45deg) scale(0);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

.pg-intro .intro-logo .logo-image .logo-path.animate .path-item:nth-of-type(3) {
  animation: path-item-3 0.4s ease forwards;
  animation-delay: 0.4s;
}

.pg-intro .intro-description {
  text-align: center;
  margin-top: 44px;
  font-size: 26px;
  line-height: 40px;
}

.pg-intro .intro-host {
  margin-top: 152px;
}

.pg-intro .intro-host .host-list {
  display: flex;
  align-items: center;
  gap: 38px;
}

.pg-intro .intro-host .host-list .host-item {
  flex: 1;
  width: 50%;
  padding: 64px 0;
  text-align: center;
  position: relative;
  border-radius: 50px;
  z-index: 1;
  min-height: 502px;
}

.pg-intro .intro-host .host-list .host-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000029;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pg-intro .intro-host .host-list .host-item.yegangfoundation svg {
  width: 318px;
}

.pg-intro .intro-host .host-list .host-item.daumfoundation svg {
  width: 313px;
}

.pg-intro .intro-host .host-list .host-item .host-text {
  margin-top: 42px;
  font-size: 23px;
  line-height: 38px;
}

.pg-intro .intro-host .host-list .host-item .host-text .blank {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 76px;
}

.pg-intro .intro-host .host-list .host-item .host-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pg-intro .intro-value {
  margin-top: 328px;
  text-align: center;
  padding-bottom: 280px;
}

.pg-intro .intro-value .value-title {
  font-family: var(--dongle), sans-serif;
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
}

.pg-intro .intro-value .value-text {
  margin-top: 36px;
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 1680px) {
  .pg-intro .intro-logo .logo-phrase {
    font-size: 38px;
  }

  .pg-intro .intro-logo .logo-image {
    width: 560px;
  }

  .pg-intro .intro-logo .logo-image .logo-path .path-item:nth-of-type(1) {
    right: 72px;
  }

  .pg-intro .intro-logo .logo-image .logo-path .path-item:nth-of-type(2) {
    right: 46px;
  }

  .pg-intro .intro-description {
    margin-top: 40px;
    font-size: 24px;
    line-height: 38px;
  }

  .pg-intro .intro-host {
    margin-top: 120px;
  }

  .pg-intro .intro-host .host-list {
    gap: 34px;
  }

  .pg-intro .intro-host .host-list .host-item {
    min-height: 476px;
  }

  .pg-intro .intro-host .host-list .host-item.yegangfoundation svg {
    width: 280px;
  }

  .pg-intro .intro-host .host-list .host-item.daumfoundation svg {
    width: 274px;
  }

  .pg-intro .intro-host .host-list .host-item .host-text {
    margin-top: 38px;
    font-size: 22px;
    line-height: 36px;
  }

  .pg-intro .intro-value {
    margin-top: 200px;
    padding-bottom: 260px;
  }

  .pg-intro .intro-value .value-title {
    font-size: 62px;
  }

  .pg-intro .intro-value .value-text {
    margin-top: 32px;
    font-size: 22px;
    line-height: 1.5;
  }
}

@media (max-width: 1440px) {
  .pg-intro .intro-logo .logo-phrase {
    font-size: 34px;
  }

  .pg-intro .intro-logo .logo-image {
    width: 520px;
  }

  .pg-intro .intro-logo .logo-image .logo-path .path-item:nth-of-type(1) {
    top: 6px;
    right: 62px;
  }

  .pg-intro .intro-logo .logo-image .logo-path .path-item:nth-of-type(2) {
    top: -4px;
    right: 40px;
  }

  .pg-intro .intro-logo .logo-image .logo-path .path-item:nth-of-type(3) {
    top: 6px;
    right: 18px;
  }

  .pg-intro .intro-description {
    margin-top: 28px;
    font-size: 22px;
    line-height: 36px;
  }

  .pg-intro .intro-host {
    margin-top: 100px;
  }

  .pg-intro .intro-host .host-list {
    gap: 28px;
  }

  .pg-intro .intro-host .host-list .host-item {
    min-height: 440px;
  }

  .pg-intro .intro-host .host-list .host-item.yegangfoundation svg {
    width: 260px;
  }

  .pg-intro .intro-host .host-list .host-item.daumfoundation svg {
    width: 254px;
  }

  .pg-intro .intro-host .host-list .host-item .host-text {
    margin-top: 34px;
    font-size: 20px;
    line-height: 32px;
  }

  .pg-intro .intro-value {
    margin-top: 160px;
  }

  .pg-intro .intro-value .value-title {
    font-size: 54px;
  }

  .pg-intro .intro-value .value-text {
    margin-top: 28px;
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (max-width: 1280px) {
  .pg-intro .intro-host .host-list .host-item {
    min-height: 402px;
  }

  .pg-intro .intro-host .host-list .host-item.yegangfoundation svg {
    width: 230px;
  }

  .pg-intro .intro-host .host-list .host-item.daumfoundation svg {
    width: 224px;
  }

  .pg-intro .intro-host .host-list .host-item .host-text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 28px;
  }

  .pg-intro .intro-value {
    margin-top: 140px;
    padding-bottom: 240px;
  }

  .pg-intro .intro-value .value-title {
    font-size: 48px;
  }

  .pg-intro .intro-value .value-text {
    margin-top: 24px;
    font-size: 18px;
    line-height: 1.5;
  }
}

@media (max-width: 1160px) {
  .pg-intro .intro-host .host-list {
    gap: 16px;
  }

  .pg-intro .intro-host .host-list .host-item {
    min-height: 374px;
  }

  .pg-intro .intro-host .host-list .host-item .host-text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .pg-intro .intro-value {
    margin-top: 100px;
    padding-bottom: 220px;
  }

  .pg-intro .intro-value .value-title {
    font-size: 38px;
  }

  .pg-intro .intro-value .value-text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 1024px) {
  .pg-intro .intro-cover img {
    min-width: 1024px;
    left: 50%;
    transform: translateX(-50%);
  }

  .pg-intro .intro-logo .logo-phrase {
    font-size: 30px;
  }

  .pg-intro .intro-logo .logo-image {
    width: 480px;
  }

  .pg-intro .intro-logo .logo-image .logo-path.animate .path-item:nth-of-type(1) {
    top: 0;
    right: 54px;
  }

  .pg-intro .intro-logo .logo-image .logo-path.animate .path-item:nth-of-type(2) {
    top: -8px;
    right: 38px;
  }

  .pg-intro .intro-logo .logo-image .logo-path.animate .path-item:nth-of-type(3) {
    top: 0;
    right: 20px;
  }

  .pg-intro .intro-description {
    font-size: 20px;
    margin-top: 24px;
    line-height: 34px;
  }

  .pg-intro .intro-host {
    margin-top: 60px;
  }

  .pg-intro .intro-host .host-list {
    flex-direction: column;
  }

  .pg-intro .intro-host .host-list .host-item {
    width: 60%;
    padding: 40px 0;
    min-height: auto;
  }

  .pg-intro .intro-value {
    margin-top: 80px;
    padding-bottom: 280px;
  }
}

@media (max-width: 768px) {
  .pg-intro .intro-host .host-list .host-item {
    width: 85%;
  }

  .pg-intro .intro-host .host-list .host-item.yegangfoundation .host-logo svg {
    width: 180px;
  }

  .pg-intro .intro-host .host-list .host-item.daumfoundation .host-logo svg {
    width: 180px;
  }
}

@media (max-width: 576px) {
  .pg-intro {
    padding-top: 240px;
    overflow: hidden;
  }

  .pg-intro .intro-cover img.desktop {
    display: none;
  }

  .pg-intro .intro-cover img.mobile {
    display: block;
  }

  .pg-intro .intro-cover img {
    min-width: 576px;
  }

  .pg-intro .intro-logo {
  }

  .pg-intro .intro-logo .logo-phrase {
    font-size: 24px;
  }

  .pg-intro .intro-logo .logo-image {
    width: 340px;
  }

  .pg-intro .intro-logo .logo-phrase .phrase-description {
    width: calc(100% + 40px);
    transform: translateX(-20px);
    font-size: 16px;
    margin-top: 30px;
  }

  .pg-intro .intro-logo .logo-image .logo-path .path-item {
    width: 6px;
    height: 20px;
  }

  .pg-intro .intro-logo .logo-image .logo-path.animate .path-item:nth-of-type(1) {
    top: 0;
    right: 40px;
  }

  .pg-intro .intro-logo .logo-image .logo-path.animate .path-item:nth-of-type(2) {
    top: -4px;
    right: 28px;
  }

  .pg-intro .intro-logo .logo-image .logo-path.animate .path-item:nth-of-type(3) {
    top: 0;
    right: 16px;
  }

  .pg-intro .intro-description {
    margin-top: 30px;
    font-size: 16px;
    line-height: 26px;
  }

  .pg-intro .intro-host {
    margin-top: 100px;
  }

  .pg-intro .intro-host .host-list {
    gap: 34px;
  }

  .pg-intro .intro-host .host-list .host-item {
    width: 100%;
    border-radius: 20px;
    padding: 42px 24px;
  }

  .pg-intro .intro-host .host-list .host-item::before {
    border-radius: 20px;
  }

  .pg-intro .intro-host .host-list .host-item.yegangfoundation .host-logo svg {
    width: 130px;
  }

  .pg-intro .intro-host .host-list .host-item.daumfoundation .host-logo svg {
    width: 144px;
  }

  .pg-intro .intro-host .host-list .host-item .host-text {
    line-height: 26px;
  }

  .pg-intro .intro-value .value-title {
    font-size: 30px;
  }

  .pg-intro .intro-value .value-text {
    margin-top: 24px;
  }

  .pg-intro .intro-value {
    padding-bottom: 70px;
  }
}
