.pg-biz {
  width: 100%;
  background-image: url('/images/page-cover.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

.pg-biz .biz-contents {
  padding: 102px 0 86px;
}

.pg-biz .biz-contents .contents-label {
  text-align: center;
  font-size: 46px;
  font-weight: 900;
  line-height: 1;
}

.pg-biz .biz-contents .contents-title {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.pg-biz .biz-contents .contents-title .title-content {
  width: 474px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes drawFill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    fill: #292929;
  }
}

.pg-biz .biz-contents .contents-title .title-content svg path {
  fill: #292929;
  opacity: 0;
}

.pg-biz .biz-contents .contents-title .title-content.animate svg path {
  animation: drawFill 0.8s ease forwards;
}

.pg-biz .biz-contents .contents-title .title-content svg path:nth-child(1) {
  animation-delay: 0s;
}
.pg-biz .biz-contents .contents-title .title-content svg path:nth-child(2) {
  animation-delay: 0.08s;
}
.pg-biz .biz-contents .contents-title .title-content svg path:nth-child(3) {
  animation-delay: 0.16s;
}
.pg-biz .biz-contents .contents-title .title-content svg path:nth-child(4) {
  animation-delay: 0.24s;
}
.pg-biz .biz-contents .contents-title .title-content svg path:nth-child(5) {
  animation-delay: 0.32s;
}
.pg-biz .biz-contents .contents-title .title-content svg path:nth-child(6) {
  animation-delay: 0.4s;
}
.pg-biz .biz-contents .contents-title .title-content svg path:nth-child(7) {
  animation-delay: 0.48s;
}
.pg-biz .biz-contents .contents-title .title-content svg path:nth-child(8) {
  animation-delay: 0.56s;
}
.pg-biz .biz-contents .contents-title .title-content svg path:nth-child(9) {
  animation-delay: 0.64s;
}
.pg-biz .biz-contents .contents-title .title-content svg path:nth-child(10) {
  animation-delay: 0.72s;
}
.pg-biz .biz-contents .contents-title .title-content svg path:nth-child(11) {
  animation-delay: 0.8s;
}

.pg-biz .biz-contents .contents-description {
  margin-top: 42px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}

.pg-biz .biz-contents .contents-detail {
  margin-top: 120px;
  display: flex;
  gap: 55px;
}

.pg-biz .biz-contents .contents-detail .detail-item {
  padding: 70px 0;
  text-align: center;
  border-radius: 50px;
  width: 50%;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pg-biz .biz-contents .contents-detail .detail-item:nth-of-type(1) {
  background-image: url('/images/biz-detail_foot.png');
}

.pg-biz .biz-contents .contents-detail .detail-item:nth-of-type(2) {
  background-image: url('/images/biz-detail_coaching.png');
}

.pg-biz .biz-contents .contents-detail .detail-item .detail-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 30px;
}

.pg-biz .biz-contents .contents-detail .detail-item .detail-content {
  margin-top: 26px;
  font-size: 23px;
  line-height: 38px;
}

.pg-biz .biz-startup {
  padding: 112px 0;
}

.pg-biz .biz-startup .startup-title {
  font-size: 46px;
  font-weight: 900;
  line-height: 55px;
  text-align: center;
}

.pg-biz .biz-startup .startup-description {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}

.pg-biz .biz-startup .startup-list {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 44px;
}

.pg-biz .biz-startup .startup-list .startup-item {
  border-radius: 50px;
  background: #fafafa;
  box-shadow: 0px 0px 4px #00000029;
  border: 1px solid #cecece;
  padding: 98px 0;
  flex: 1;
}

.pg-biz .biz-startup .startup-list .startup-item.wemeetup svg {
  width: 348px;
}

.pg-biz .biz-startup .startup-list .startup-item.springme svg {
  width: 222px;
}

.pg-biz .biz-startup .startup-list .startup-item .startup-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pg-biz .biz-startup .startup-list .startup-item .startup-text {
  margin-top: 60px;
  text-align: center;
  font-size: 23px;
  line-height: 38px;
}

.pg-biz .biz-partner {
  padding: 112px 0 200px;
}

.pg-biz .biz-partner .partner-title {
  font-size: 46px;
  font-weight: 900;
  text-align: center;
}

.pg-biz .biz-partner .partner-description {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.pg-biz .biz-partner .partner-list {
  margin-top: 60px;
}

.pg-biz .biz-partner .partner-list .partner-flex {
  display: flex;
  flex-wrap: wrap;
  margin: -9px -27px;
}

.pg-biz .biz-partner .partner-list .partner-item {
  border: 1px solid #a0a0a0;
  margin: 9px 27px;
  width: calc(25% - 54px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 102px;
  padding: 0 20px;
}

.pg-biz .biz-partner .partner-list .partner-item img {
  max-width: 100%;
}

@media (max-width: 1680px) {
  .pg-biz .biz-contents {
    padding: 96px 0 80px;
  }

  .pg-biz .biz-contents .contents-label {
    font-size: 40px;
  }

  .pg-biz .biz-contents .contents-title {
    margin-top: 32px;
  }

  .pg-biz .biz-contents .contents-description {
    margin-top: 40px;
    font-size: 24px;
    line-height: 38px;
  }

  .pg-biz .biz-contents .contents-detail {
    margin-top: 100px;
    gap: 38px;
  }

  .pg-biz .biz-contents .contents-detail .detail-item .detail-title {
    font-size: 30px;
    line-height: 1.3;
  }

  .pg-biz .biz-contents .contents-detail .detail-item .detail-content {
    margin-top: 24px;
    font-size: 22px;
    line-height: 34px;
  }

  .pg-biz .biz-startup {
    padding: 108px 0;
  }

  .pg-biz .biz-startup .startup-title {
    font-size: 42px;
    line-height: 50px;
  }

  .pg-biz .biz-startup .startup-list {
    margin-top: 80px;
    gap: 40px;
  }

  .pg-biz .biz-startup .startup-description {
    font-size: 24px;
    line-height: 38px;
    margin-top: 20px;
  }

  .pg-biz .biz-startup .startup-list .startup-item.wemeetup svg {
    width: 320px;
  }

  .pg-biz .biz-startup .startup-list .startup-item.springme svg {
    width: 200px;
  }

  .pg-biz .biz-startup .startup-list .startup-item .startup-text {
    margin-top: 50px;
    font-size: 22px;
    line-height: 38px;
  }

  .pg-biz .biz-partner {
    padding: 100px 0 180px;
  }

  .pg-biz .biz-partner .partner-title {
    font-size: 42px;
    line-height: 50px;
  }

  .pg-biz .biz-partner .partner-description {
    font-size: 24px;
    line-height: 38px;
    margin-top: 20px;
  }

  .pg-biz .biz-partner .partner-list {
    margin-top: 52px;
  }

  .pg-biz .biz-partner .partner-list .partner-flex {
    margin: -7px -24px;
  }

  .pg-biz .biz-partner .partner-list .partner-item {
    margin: 7px 24px;
    width: calc(25% - 48px);
    padding: 0 18px;
  }
}

@media (max-width: 1440px) {
  .pg-biz .biz-contents {
    padding: 80px 0 60px;
  }

  .pg-biz .biz-contents .contents-label {
    font-size: 38px;
  }

  .pg-biz .biz-contents .contents-title {
    margin-top: 28px;
  }

  .pg-biz .biz-contents .contents-description {
    margin-top: 36px;
    font-size: 22px;
    line-height: 36px;
  }

  .pg-biz .biz-contents .contents-detail {
    margin-top: 80px;
    gap: 32px;
  }

  .pg-biz .biz-contents .contents-detail .detail-item .detail-title {
    font-size: 28px;
    line-height: 1.3;
  }

  .pg-biz .biz-contents .contents-detail .detail-item .detail-content {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.6;
  }

  .pg-biz .biz-startup {
    padding: 88px 0;
  }

  .pg-biz .biz-startup .startup-title {
    font-size: 38px;
    line-height: 50px;
  }

  .pg-biz .biz-startup .startup-description {
    font-size: 22px;
    line-height: 36px;
    margin-top: 18px;
  }

  .pg-biz .biz-startup .startup-list {
    margin-top: 60px;
    gap: 24px;
  }

  .pg-biz .biz-startup .startup-list .startup-item.wemeetup svg {
    width: 280px;
  }

  .pg-biz .biz-startup .startup-list .startup-item.springme svg {
    width: 160px;
  }

  .pg-biz .biz-startup .startup-list .startup-item .startup-text {
    margin-top: 38px;
    font-size: 20px;
    line-height: 32px;
  }

  .pg-biz .biz-partner {
    padding: 60px 0 140px;
  }

  .pg-biz .biz-partner .partner-title {
    font-size: 38px;
    line-height: 50px;
  }

  .pg-biz .biz-partner .partner-description {
    font-size: 22px;
    line-height: 36px;
    margin-top: 18px;
  }

  .pg-biz .biz-partner .partner-list {
    margin-top: 48px;
  }

  .pg-biz .biz-partner .partner-list .partner-flex {
    margin: -7px -12px;
  }

  .pg-biz .biz-partner .partner-list .partner-item {
    margin: 7px 12px;
    width: calc(25% - 24px);
    padding: 0 10px;
    min-height: 80px;
  }
}

@media (max-width: 1280px) {
  .pg-biz .biz-contents .contents-detail .detail-item .detail-title {
    font-size: 24px;
  }

  .pg-biz .biz-contents .contents-detail .detail-item .detail-content {
    font-size: 18px;
  }

  .pg-biz .biz-startup .startup-list .startup-item .startup-text {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (max-width: 1080px) {
  .pg-biz .biz-contents .contents-detail .detail-item .detail-content {
    font-size: 16px;
  }

  .pg-biz .biz-startup .startup-list .startup-item .startup-text {
    font-size: 16px;
    line-height: 30px;
  }
}

@media (max-width: 1024px) {
  .pg-biz .biz-contents {
    padding: 140px 0 60px;
  }

  .pg-biz .biz-contents .contents-label {
    font-size: 32px;
  }

  .pg-biz .biz-contents .contents-title {
    gap: 20px;
  }

  .pg-biz .biz-contents .contents-title .title-start svg,
  .pg-biz .biz-contents .contents-title .title-end svg {
    width: 8px;
    height: 44px;
  }

  .pg-biz .biz-contents .contents-title .title-content svg {
    width: 480px;
  }

  .pg-biz .biz-contents .contents-description {
    margin-top: 28px;
    font-size: 20px;
    line-height: 32px;
  }

  .pg-biz .biz-contents .contents-detail {
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
  }

  .pg-biz .biz-contents .contents-detail .detail-item {
    padding: 40px 0;
    width: 60%;
  }

  .pg-biz .biz-contents .contents-detail .detail-item .detail-title {
    font-size: 22px;
  }

  .pg-biz .biz-startup {
    padding: 80px 0;
  }

  .pg-biz .biz-startup .startup-title {
    font-size: 32px;
  }

  .pg-biz .biz-startup .startup-description {
    font-size: 20px;
    margin-top: 16px;
  }

  .pg-biz .biz-startup .startup-list {
    flex-direction: column;
    align-items: center;
  }

  .pg-biz .biz-startup .startup-list .startup-item {
    width: 60%;
    padding: 60px 0;
  }

  .pg-biz .biz-partner {
    padding: 40px 0 100px;
  }

  .pg-biz .biz-partner .partner-title {
    font-size: 32px;
  }

  .pg-biz .biz-partner .partner-description {
    font-size: 20px;
    margin-top: 16px;
  }

  .pg-biz .biz-partner .partner-list {
    margin-top: 38px;
  }

  .pg-biz .biz-partner .partner-list .partner-item {
    width: calc(50% - 24px);
  }
}

@media (max-width: 768px) {
  .pg-biz .biz-contents .contents-detail .detail-item {
    width: 80%;
  }

  .pg-biz .biz-startup .startup-list .startup-item {
    width: 80%;
  }
}

@media (max-width: 574px) {
  .pg-biz .biz-contents {
    padding: 135px 0 50px;
  }

  .pg-biz .biz-contents .contents-label {
    font-size: 24px;
  }

  .pg-biz .biz-contents .contents-title {
    gap: 15px;
  }

  .pg-biz .biz-contents .contents-title .title-content {
    width: 300px;
  }

  .pg-biz .biz-contents .contents-title .title-content svg {
    width: 300px;
  }

  .pg-biz .biz-contents .contents-title .title-start svg,
  .pg-biz .biz-contents .contents-title .title-end svg {
    width: 6px;
    height: 34px;
  }

  .pg-biz .biz-contents .contents-description {
    font-size: 16px;
    line-height: 26px;
  }

  .pg-biz .biz-contents .contents-detail {
    margin-top: 90px;
    gap: 50px;
  }

  .pg-biz .biz-contents .contents-detail .detail-item {
    width: 100%;
    padding: 90px 0;
    border-radius: 20px;
  }

  .pg-biz .biz-startup {
    padding: 50px 0;
  }

  .pg-biz .biz-startup .startup-title {
    font-size: 22px;
    line-height: 1;
  }

  .pg-biz .biz-startup .startup-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
  }

  .pg-biz .biz-startup .startup-list {
    margin-top: 50px;
    gap: 20px;
  }

  .pg-biz .biz-startup .startup-list .startup-item {
    width: 100%;
    padding: 36px 8px;
    border-radius: 20px;
  }

  .pg-biz .biz-startup .startup-list .startup-item.wemeetup svg {
    width: 150px;
  }

  .pg-biz .biz-startup .startup-list .startup-item.springme svg {
    width: 120px;
  }

  .pg-biz .biz-startup .startup-list .startup-item .startup-text {
    margin-top: 20px;
    line-height: 28px;
  }

  .pg-biz .biz-partner {
    padding: 40px 0 70px;
  }

  .pg-biz .biz-partner .partner-title {
    font-size: 22px;
    line-height: 1;
  }

  .pg-biz .biz-partner .partner-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
  }

  .pg-biz .biz-partner .partner-list {
    margin-top: 36px;
  }

  .pg-biz .biz-partner .partner-list .partner-flex {
    flex-direction: column;
    margin: 0;
    gap: 16px;
  }

  .pg-biz .biz-partner .partner-list .partner-item {
    margin: 0;
    width: 100%;
    height: 94px;
  }
}
