/* */

/* mobile */
:root {
  --adm-color-primary: var(--primary);
  --adm-color-danger: var(--error);
}

.adm-picker-header-button {
  color: var(--black);
}

.adm-picker-view-column-item-label {
  font-size: 16px;
}
