{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@nestjs/(.*)",
    "<THIRD_PARTY_MODULES>",
    "^src/providers/dotenv",
    "^src/providers/(.*)",
    "^src/common/(.*)",
    "^src/modules/(.*)",
    "^src/utils/(.*)",
    "^[../]",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
