.ui-image {
  position: relative;
  font-size: 0;
  border: 1px solid var(--gray-6);
  transition: border-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  aspect-ratio: 1;
}

.ui-image.circle {
  border-radius: 50%;
  overflow: hidden;
}

.ui-image.round {
  border-radius: var(--radius);
  overflow: hidden;
}

.ui-image img {
  width: 100%;
  height: 100%;
}
