.pg-main {
  margin-top: -120px;
}

.pg-main .main-cover {
  width: 100%;
  height: 100dvh;
  min-height: 934px;
  overflow: hidden;
  position: relative;
}

.pg-main .main-cover img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  min-width: 1920px;
}

.pg-main .main-cover img.desktop {
  display: block;
}

.pg-main .main-cover img.tablet {
  display: none;
}

.pg-main .main-cover img.mobile {
  display: none;
}

.pg-main .main-cover .cover-prism {
  position: absolute;
  top: 0;
  left: max(35.36%, 680px);
  overflow: hidden;
  width: max(66.2%, 1270px);
  height: 93%;
  background: transparent;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  opacity: 0.4;
  z-index: 1;
}

.pg-main .main-cover .cover-prism::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, #a7e8f8 0%, #d9f5ff 20%, #b9b5ff 40%, #f7f0f8 60%, /* 거의 화이트-핑크 */ #fae9f5 80%, /* 매우 약한 핑크 톤 */ #c5f2ff 100%);
  background-size: 600% 600%;
  border-radius: 50px;
  animation: cover-prism 12s ease infinite;
  filter: blur(10px);
}

@keyframes cover-prism {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pg-main .main-cover .cover-wrap {
  position: relative;
  height: 100dvh;
}

.pg-main .main-cover .cover-phrase {
  position: absolute;
  bottom: 16%;
  left: 0;
  z-index: 10;
}

.pg-main .main-cover .cover-phrase .phrase-logo {
  width: 605px;
  position: relative;
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path {
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item {
  position: absolute;
  top: 0;
  width: 8px;
  height: 30px;
  background: #ef820c;
  border-radius: 25px;
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(1) {
  transform: rotate(-45deg) scale(0);
  top: 10px;
  right: 72px;
  transform-origin: bottom center;
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(2) {
  right: 48px;
  transform: scale(0);
  transform-origin: bottom center;
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(3) {
  right: 22px;
  top: 8px;
  transform: rotate(45deg) scale(0);
  transform-origin: bottom center;
}

@keyframes path-item-1 {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path.animate .path-item:nth-of-type(1) {
  animation: path-item-1 0.4s ease forwards;
  animation-delay: 0.2s;
}

@keyframes path-item-2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path.animate .path-item:nth-of-type(2) {
  animation: path-item-2 0.4s ease forwards;
  animation-delay: 0.3s;
}

@keyframes path-item-3 {
  0% {
    transform: rotate(45deg) scale(0);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path.animate .path-item:nth-of-type(3) {
  animation: path-item-3 0.4s ease forwards;
  animation-delay: 0.4s;
}

.pg-main .main-cover .cover-phrase .phrase-text {
  line-height: 1;
  font-family: var(--dongle), sans-serif;
  font-size: 44px;
  font-weight: 700;
}

.pg-main .main-cover .cover-phrase .phrase-description {
  margin-top: 60px;
  font-size: 28px;
  color: #1e1e1e;
}

.pg-main .main-introduce {
  padding: 210px 0 190px;
}

.pg-main .main-introduce .introduce-title {
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  color: var(--primary);
  line-height: 1;
}

.pg-main .main-introduce .introduce-description {
  margin-top: 32px;
  text-align: center;
  font-size: 25px;
}

.pg-main .main-introduce .introduce-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 74px;
}

.pg-main .main-phrase {
  background: #e8e3f6;
  padding: 106px 0 86px;
}

.pg-main .main-phrase .phrase-label {
  text-align: center;
  color: var(--primary);
  font-size: 38px;
  font-weight: 900;
  line-height: 1;
}

.pg-main .main-phrase .phrase-title {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

.pg-main .main-phrase .phrase-title .title-start,
.pg-main .main-phrase .phrase-title .title-end {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
}

.pg-main .main-phrase .phrase-title .title-content {
  display: flex;
  align-items: center;
}

.pg-main .main-phrase .phrase-title .title-content svg {
  width: 734px;
}

@keyframes drawFill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    fill: #292929;
  }
}

.pg-main .main-phrase .phrase-title .title-content svg path {
  fill: #292929;
  opacity: 0;
}

.pg-main .main-phrase .phrase-title .title-content.animate svg path {
  animation: drawFill 0.8s ease forwards;
}

.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(1) {
  animation-delay: 0s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(2) {
  animation-delay: 0.08s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(3) {
  animation-delay: 0.16s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(4) {
  animation-delay: 0.24s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(5) {
  animation-delay: 0.32s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(6) {
  animation-delay: 0.4s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(7) {
  animation-delay: 0.48s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(8) {
  animation-delay: 0.56s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(9) {
  animation-delay: 0.64s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(10) {
  animation-delay: 0.72s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(11) {
  animation-delay: 0.8s;
}

.pg-main .main-phrase .phrase-description {
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
}

.pg-main .main-phrase .phrase-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 74px;
}

.pg-main .main-news {
  padding: 190px 0 172px;
}

.pg-main .main-news .news-label {
  text-align: center;
  color: var(--primary);
  font-size: 38px;
  font-weight: 900;
  line-height: 1;
}

.pg-main .main-news .news-title {
  margin-top: 32px;
  font-size: 25px;
  text-align: center;
}

.pg-main .main-news .news-contents {
  border-radius: 20px;
  margin-top: 85px;
  position: relative;
}

.pg-main .main-news .news-contents .news-nav .nav-item {
  cursor: pointer;
  opacity: 1;
  user-select: auto;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pg-main .main-news .news-contents .news-nav .nav-item.hide {
  cursor: default;
  user-select: none;
}

.pg-main .main-news .news-contents .news-nav .nav-item.hide svg path {
  stroke: var(--gray-4);
}

.pg-main .main-news .news-contents .news-nav .nav-item:not(.hide):hover svg path {
  transition: all 0.3s ease-in-out;
  stroke: var(--primary);
}

.pg-main .main-news .news-contents .news-nav .nav-prev {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
}

.pg-main .main-news .news-contents .news-nav .nav-next {
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
}

.pg-main .main-news .news-contents .swiper {
  border-radius: 20px;
  padding: 0 2px;
}

.pg-main .main-news .news-contents .news-list .news-item {
  border-radius: 20px;
  display: block;
}

.pg-main .main-news .news-contents .news-list .news-item .thumbnail {
  border-radius: 20px 20px 0 0;
  font-size: 0;
  overflow: hidden;
  position: relative;
}

.pg-main .main-news .news-contents .news-list .news-item .thumbnail:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.3));
  transform: skewX(-25deg);
}

@keyframes news-item-thumbnail {
  to {
    left: 125%;
  }
}

.pg-main .main-news .news-contents .news-list .news-item:hover .thumbnail:before {
  animation: news-item-thumbnail 1.25s;
}

.pg-main .main-news .news-contents .news-list .news-item .thumbnail img {
  width: 100%;
}

.pg-main .main-news .news-contents .news-list .news-item .content {
  border: 1px solid #cacaca;
  border-radius: 0 0 20px 20px;

  padding: 32px 28px;
}

.pg-main .main-news .news-contents .news-list .news-item .content .content-title {
  font-size: 20px;
  font-weight: 500;
  min-height: 60px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.pg-main .main-news .news-contents .news-list .news-item .content .content-date {
  margin-top: 30px;
}

.pg-main .main-news .news-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
}

@media (max-width: 1680px) {
  .pg-main .main-cover img {
    left: -200px;
  }

  .pg-main .main-cover .cover-prism {
    left: 480px;
  }

  .pg-main .main-cover .cover-phrase .phrase-text {
    font-size: 38px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo {
    width: 560px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(1) {
    top: 4px;
    right: 68px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(2) {
    top: -4px;
    right: 44px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(3) {
    top: 4px;
    right: 20px;
  }

  .pg-main .main-cover .cover-phrase .phrase-description {
    margin-top: 44px;
    font-size: 24px;
  }

  .pg-main .main-introduce {
    padding: 190px 0 160px;
  }

  .pg-main .main-introduce .introduce-title {
    font-size: 36px;
  }

  .pg-main .main-introduce .introduce-description {
    margin-top: 28px;
    font-size: 22px;
  }

  .pg-main .main-introduce .introduce-more {
    margin-top: 60px;
  }

  .pg-main .main-phrase .phrase-label {
    font-size: 36px;
  }

  .pg-main .main-introduce .introduce-description {
    margin-top: 28px;
    font-size: 22px;
  }

  .pg-main .main-phrase {
    padding: 86px 0 66px;
  }

  .pg-main .main-phrase .phrase-title {
    margin-top: 36px;
    gap: 48px;
  }

  .pg-main .main-phrase .phrase-title .title-content svg {
    width: 680px;
  }

  .pg-main .main-phrase .phrase-description {
    margin-top: 24px;
    font-size: 22px;
  }

  .pg-main .main-phrase .phrase-more {
    margin-top: 60px;
  }

  .pg-main .main-news {
    padding: 160px 0 140px;
  }

  .pg-main .main-news .news-label {
    font-size: 36px;
  }

  .pg-main .main-news .news-title {
    margin-top: 24px;
    font-size: 22px;
  }

  .pg-main .main-news .news-contents {
    margin-top: 65px;
  }

  .pg-main .main-news .news-contents .news-list .news-item .content {
    padding: 28px 24px;
  }

  .pg-main .main-news .news-contents .news-list .news-item .content .content-title {
    font-size: 18px;
    min-height: 54px;
  }

  .pg-main .main-news .news-more {
    margin-top: 48px;
  }
}

@media (max-width: 1440px) {
  .pg-main .main-cover img {
    left: -300px;
  }

  .pg-main .main-cover .cover-prism {
    left: 380px;
  }

  .pg-main .main-cover .cover-phrase .phrase-text {
    font-size: 34px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo {
    width: 480px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(1) {
    top: 0px;
    right: 54px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(2) {
    top: -8px;
    right: 38px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(3) {
    top: 0px;
    right: 20px;
  }

  .pg-main .main-cover .cover-phrase .phrase-description {
    margin-top: 36px;
    font-size: 22px;
  }

  .pg-main .main-introduce {
    padding: 160px 0 140px;
  }

  .pg-main .main-introduce .introduce-title {
    font-size: 32px;
  }

  .pg-main .main-introduce .introduce-description {
    margin-top: 24px;
    font-size: 20px;
  }

  .pg-main .main-introduce .introduce-more {
    margin-top: 40px;
  }

  .pg-main .main-phrase .phrase-label {
    font-size: 32px;
  }

  .pg-main .main-phrase .phrase-title {
    margin-top: 28px;
    gap: 48px;
  }

  .pg-main .main-phrase .phrase-title .title-content svg {
    width: 580px;
  }

  .pg-main .main-phrase .phrase-description {
    margin-top: 22px;
    font-size: 20px;
  }

  .pg-main .main-phrase .phrase-more {
    margin-top: 40px;
  }

  .pg-main .main-news {
    padding: 140px 0 120px;
  }

  .pg-main .main-news .news-label {
    font-size: 32px;
  }

  .pg-main .main-news .news-title {
    margin-top: 22px;
    font-size: 20px;
  }

  .pg-main .main-news .news-contents {
    margin-top: 45px;
  }

  .pg-main .main-news .news-contents .news-list .news-item .content {
    padding: 22px 18px;
  }

  .pg-main .main-news .news-contents .news-list .news-item .content .content-title {
    font-size: 16px;
    min-height: 48px;
  }

  .pg-main .main-news .news-more {
    margin-top: 36px;
  }
}

@media (max-width: 1280px) {
  .pg-main .main-cover img {
    left: -400px;
  }

  .pg-main .main-cover .cover-prism {
    left: 280px;
  }
}

@media (max-width: 1024px) {
  .pg-main {
    margin-top: 0;
  }

  .pg-main .main-cover {
    height: auto;
    min-height: 860px;
  }

  .pg-main .main-cover img {
    left: 0;
    width: 1024px;
    min-width: auto;
    height: 860px;
    z-index: 1;
  }

  .pg-main .main-cover .cover-prism {
    left: 364px;
    height: 416px;
    width: 676px;
  }

  .pg-main .main-cover .cover-wrap {
    height: 860px;
  }

  .pg-main .main-cover img.desktop {
    display: none;
  }

  .pg-main .main-cover img.tablet {
    display: block;
  }

  .pg-main .main-cover img.mobile {
    display: none;
  }

  .pg-main .main-cover .cover-phrase {
    position: absolute;
    left: 50%;
    bottom: auto;
    transform: translateX(-50%);
    top: 200px;
  }

  .pg-main .main-cover .cover-phrase .phrase-text {
    font-size: 32px;
    margin-left: 80px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo {
    margin-left: 80px;
  }

  .pg-main .main-cover .cover-phrase .phrase-description {
    text-align: center;
    font-size: 20px;
    width: 620px;
  }

  .pg-main .main-introduce {
    margin-top: -120px;
    padding: 0 0 84px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .pg-main .main-introduce::before {
    position: absolute;
    background: url('/images/main-introduce.png');
    top: 120px;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .pg-main .main-introduce .introduce-title {
    font-size: 28px;
  }

  .pg-main .main-introduce .introduce-description {
    font-size: 18px;
  }

  .pg-main .main-phrase {
    padding: 80px 0;
  }

  .pg-main .main-phrase .phrase-label {
    font-size: 28px;
  }

  .pg-main .main-phrase .phrase-title {
    gap: 24px;
  }

  .pg-main .main-phrase .phrase-title .title-start,
  .pg-main .main-phrase .phrase-title .title-end {
    width: 8px;
    height: 44px;
  }

  .pg-main .main-phrase .phrase-title .title-content svg {
    width: 480px;
  }

  .pg-main .main-phrase .phrase-description {
    font-size: 18px;
  }

  .pg-main .main-news {
    padding: 80px 0;
  }

  .pg-main .main-news .news-nav {
    display: none;
  }

  .pg-main .main-news .news-list {
    max-width: 560px;
    margin: 0 auto;
  }

  .pg-main .main-news .news-list .news-item + .news-item {
    margin-top: 36px;
  }

  .pg-main .main-news .news-contents .news-list .news-item .content {
    padding: 28px 24px;
  }
}

@media (max-width: 768px) {
  .pg-main .main-cover img {
    left: -200px;
  }

  .pg-main .main-cover .cover-prism {
    left: 164px;
  }
}

@media (max-width: 576px) {
  .pg-main .main-cover img.desktop {
    display: none;
  }

  .pg-main .main-cover img.tablet {
    display: none;
  }

  .pg-main .main-cover img.mobile {
    display: block;
  }

  .pg-main .main-cover img {
    left: 0;
    max-width: 576px;
  }

  .pg-main .main-cover .cover-prism {
    left: 148px;
    width: 530px;
    height: 404px;
  }

  .pg-main .main-cover .cover-phrase {
    top: 240px;
  }

  .pg-main .main-cover .cover-phrase .phrase-text {
    font-size: 24px;
    margin-left: 0;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo {
    width: 340px;
    margin-left: 0;
  }

  .pg-main .main-cover .cover-phrase .phrase-description {
    width: calc(100% + 40px);
    transform: translateX(-20px);
    font-size: 16px;
    margin-top: 30px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item {
    width: 6px;
    height: 20px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(1) {
    top: 0;
    right: 40px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(2) {
    top: -4px;
    right: 28px;
  }

  .pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(3) {
    top: 0;
    right: 16px;
  }
}

@media (max-width: 440px) {
  .pg-main .main-cover {
    min-height: 820px;
  }

  .pg-main .main-cover img {
    top: -20px;
    left: -120px;
    width: 560px;
    height: 820px;
  }

  .pg-main .main-cover .cover-prism {
    top: -20px;
    left: 22px;
    width: 518px;
    height: 382px;
  }

  .pg-main .main-cover .cover-phrase {
    top: 260px;
  }

  .pg-main .main-introduce .introduce-title {
    font-size: 24px;
  }

  .pg-main .main-introduce .introduce-description {
    font-size: 16px;
    line-height: 26px;
  }

  .pg-main .main-introduce {
    margin-top: -140px;
    padding: 0 0 84px;
  }

  .pg-main .main-introduce::before {
    top: 40px;
  }

  .pg-main .main-introduce .introduce-more {
    margin-top: 40px;
  }

  .pg-main .main-phrase {
    padding: 62px 0;
  }

  .pg-main .main-phrase .phrase-label {
    font-size: 22px;
  }

  .pg-main .main-phrase .phrase-title {
    gap: 16px;
    margin-top: 16px;
  }

  .pg-main .main-phrase .phrase-title .title-content svg {
    width: 280px;
  }

  .pg-main .main-phrase .phrase-title .title-start,
  .pg-main .main-phrase .phrase-title .title-end {
    width: 6px;
    height: 34px;
  }

  .pg-main .main-phrase .phrase-description {
    margin-top: 30px;
    font-size: 16px;
  }

  .pg-main .main-phrase .phrase-more {
    margin-top: 40px;
  }

  .pg-main .main-news {
    padding: 100px 0 120px;
  }

  .pg-main .main-news .news-label {
    font-size: 22px;
  }

  .pg-main .main-news .news-title {
    font-size: 16px;
    margin-top: 20px;
  }

  .pg-main .main-news .news-contents {
    margin-top: 32px;
  }

  .pg-main .main-news .news-contents .news-list .news-item .content {
    padding: 20px 18px;
  }

  .pg-main .main-news .news-contents .news-list .news-item .content .content-date {
    margin-top: 20px;
    font-size: 12px;
  }

  .pg-main .main-news .news-more {
    margin-top: 40px;
  }
}
