.pg-main {
  margin-top: -168px;
}

.pg-main .main-cover {
  width: 100%;
  height: 100dvh;
  min-height: 934px;
  overflow: hidden;
  position: relative;
}

.pg-main .main-cover img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pg-main .main-cover::before {
  /*content: '';*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-image: url('/images/main-cover.png');*/
  /*background-repeat: no-repeat;*/
  /*background-position: center bottom;*/
  /*z-index: -1;*/
}

.pg-main .main-cover .cover-prism {
  position: absolute;
  top: 0;
  left: 35.36%;
  overflow: hidden;
  width: 66.2%;
  height: 93%;
  background: transparent;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  opacity: 0.4;
  z-index: 1;
}

.pg-main .main-cover .cover-prism::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, #a7e8f8 0%, #d9f5ff 20%, #b9b5ff 40%, #f7f0f8 60%, /* 거의 화이트-핑크 */ #fae9f5 80%, /* 매우 약한 핑크 톤 */ #c5f2ff 100%);
  background-size: 600% 600%;
  border-radius: 50px;
  animation: cover-prism 12s ease infinite;
  filter: blur(10px);
}

@keyframes cover-prism {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pg-main .main-cover .cover-wrap {
  position: relative;
  height: 100dvh;
}

.pg-main .main-cover .cover-phrase {
  position: absolute;
  bottom: 16%;
  left: 0;
}

.pg-main .main-cover .cover-phrase .phrase-logo {
  width: 605px;
  position: relative;
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path {
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item {
  position: absolute;
  top: 0;
  width: 8px;
  height: 30px;
  background: #ef820c;
  border-radius: 25px;
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(1) {
  transform: rotate(-45deg) scale(0);
  top: 10px;
  right: 72px;
  transform-origin: bottom center;
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(2) {
  right: 48px;
  transform: scale(0);
  transform-origin: bottom center;
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path .path-item:nth-of-type(3) {
  right: 22px;
  top: 8px;
  transform: rotate(45deg) scale(0);
  transform-origin: bottom center;
}

@keyframes path-item-1 {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path.animate .path-item:nth-of-type(1) {
  animation: path-item-1 0.4s ease forwards;
  animation-delay: 0.2s;
}

@keyframes path-item-2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path.animate .path-item:nth-of-type(2) {
  animation: path-item-2 0.4s ease forwards;
  animation-delay: 0.3s;
}

@keyframes path-item-3 {
  0% {
    transform: rotate(45deg) scale(0);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

.pg-main .main-cover .cover-phrase .phrase-logo .logo-path.animate .path-item:nth-of-type(3) {
  animation: path-item-3 0.4s ease forwards;
  animation-delay: 0.4s;
}

.pg-main .main-cover .cover-phrase .phrase-text {
  line-height: 1;
  font-family: var(--dongle), sans-serif;
  font-size: 44px;
}

.pg-main .main-cover .cover-phrase .phrase-description {
  margin-top: 60px;
  font-size: 28px;
}

.pg-main .main-introduce {
  padding: 210px 0 190px;
}

.pg-main .main-introduce .introduce-title {
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  color: var(--primary);
  line-height: 1;
}

.pg-main .main-introduce .introduce-description {
  margin-top: 32px;
  text-align: center;
  font-size: 25px;
}

.pg-main .main-introduce .introduce-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 74px;
}

.pg-main .main-phrase {
  background: #e8e3f6;
  padding: 106px 0 86px;
}

.pg-main .main-phrase .phrase-label {
  text-align: center;
  color: var(--primary);
  font-size: 38px;
  font-weight: 900;
  line-height: 1;
}

.pg-main .main-phrase .phrase-title {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

.pg-main .main-phrase .phrase-title .title-content {
  display: flex;
  align-items: center;
}

.pg-main .main-phrase .phrase-title .title-content svg {
  width: 734px;
}

@keyframes drawFill {
  0% {
    stroke-dashoffset: 1000;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #292929;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #292929;
  }
}

.pg-main .main-phrase .phrase-title .title-content svg path {
  fill: transparent;
  stroke: #292929;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.pg-main .main-phrase .phrase-title .title-content.animate svg path {
  animation: drawFill 3s ease forwards;
}

.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(1) {
  animation-delay: 0s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(2) {
  animation-delay: 0.1s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(3) {
  animation-delay: 0.2s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(4) {
  animation-delay: 0.3s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(5) {
  animation-delay: 0.4s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(6) {
  animation-delay: 0.5s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(7) {
  animation-delay: 0.6s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(8) {
  animation-delay: 0.7s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(9) {
  animation-delay: 0.8s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(10) {
  animation-delay: 0.9s;
}
.pg-main .main-phrase .phrase-title .title-content svg path:nth-child(11) {
  animation-delay: 1s;
}

.pg-main .main-phrase .phrase-description {
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
}

.pg-main .main-phrase .phrase-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 74px;
}

.pg-main .main-news {
  padding: 190px 0 172px;
}

.pg-main .main-news .news-label {
  text-align: center;
  color: var(--primary);
  font-size: 38px;
  font-weight: 900;
  line-height: 1;
}

.pg-main .main-news .news-title {
  margin-top: 32px;
  font-size: 25px;
  text-align: center;
}

.pg-main .main-news .news-contents {
  border-radius: 20px;
  margin-top: 85px;
  position: relative;
}

.pg-main .main-news .news-contents .news-nav .nav-item {
  cursor: pointer;
}

.pg-main .main-news .news-contents .news-nav .nav-item:hover svg path {
  transition: all 0.3s ease-in-out;
  stroke: var(--primary);
}

.pg-main .main-news .news-contents .news-nav .nav-prev {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
}

.pg-main .main-news .news-contents .news-nav .nav-next {
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
}

.pg-main .main-news .news-contents .swiper {
  border-radius: 20px;
  padding: 0 2px;
}

.pg-main .main-news .news-contents .news-list .news-item {
  border-radius: 20px;
}

.pg-main .main-news .news-contents .news-list .news-item .thumbnail {
  border-radius: 20px 20px 0 0;
  font-size: 0;
  overflow: hidden;
  position: relative;
}

.pg-main .main-news .news-contents .news-list .news-item .thumbnail:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.3));
  transform: skewX(-25deg);
}

@keyframes news-item-thumbnail {
  to {
    left: 125%;
  }
}

.pg-main .main-news .news-contents .news-list .news-item:hover .thumbnail:before {
  animation: news-item-thumbnail 1.25s;
}

.pg-main .main-news .news-contents .news-list .news-item .thumbnail img {
  width: 100%;
}

.pg-main .main-news .news-contents .news-list .news-item .content {
  border: 1px solid #cacaca;
  border-radius: 0 0 20px 20px;

  padding: 32px 28px;
}

.pg-main .main-news .news-contents .news-list .news-item .content .content-title {
  font-size: 20px;
  font-weight: 500;
  height: 60px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.pg-main .main-news .news-contents .news-list .news-item .content .content-date {
  margin-top: 30px;
}

.pg-main .main-news .news-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
}
