/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
dl {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial !important;
}

a:hover {
  color: initial;
}

input {
  border: none;
  background: transparent;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

table {
  border-collapse: collapse;
}
